<%- include('../partials/html-head') %>
<link rel="stylesheet" href="stylesheets/style.css">
<%- include('../partials/nav') %>
<main>
    <h1><%= title %></h1> 
    <% if (isSelf) { %> 
        <% if (!currentSession?.isFinished && currentSession) { %>
            <section>
                <h2><%= currentSession.name %></h2>
                <% if (currentSession.exercises.length) { %>
                    <% currentSession.exercises.forEach(exercise => { %>
                        <h3><%= exercise.name %></h3>
                        <form action="/profile/sessions/<%= currentSession._id %>/exercises/<%= exercise._id %>?_method=Delete"  
                            method="POST">
                            <button type="submit">Delete</button>
                        </form>
                        <% exercise.sets.forEach(set => { %>
                            <li><%= set.reps %> - <%= set.weight %>
                            <form action="/profile/sessions/<%= currentSession._id %>/exercises/<%= exercise._id %>/sets/<%= set._id %>?_method=Delete"  
                                method="POST">
                                <button type="submit">Delete</button>
                            </form>
                            </li>
                            
                        <% }) %>
                        <form action="/profile/sessions/<%= currentSession._id %>/exercises/<%= exercise._id %>/sets" method="POST">
                            <input type="number" name="reps">
                            <input type="number" name="weight">
                            <button type="submit">Add Set</button>
                        </form>
                    <% }) %>
                <% } else { %>
                    <h3>No Exercises Yet</h3>
                <% } %>
                <form action="/profile/sessions/<%= currentSession._id %>/exercises" method="POST">
                    <input type="text" name="name" required>
                    <button type="submit">Add Exercise</button>
                </form>
                <form action="/profile/sessions/<%= currentSession._id %>?_method=PATCH" method="POST">
                    <button type="submit">Finished</button>
                </form>
            </section>
            <% } else { %>
            <form id ="add-session" action="/profile/sessions/" method="POST">
                <input type="text" name="name" required>
                <button type="submit">Add Workout Session</button>
            </form> 
        <% } %>
    <% } %> 
    <section>
        <% profile.sessions.forEach(session => { %>
            <a href="/profile/sessions/<%= session._id %>/show"><%= session.name %></a>
        <% }) %>
    </section>


   
</main>

<%- include('../partials/footer') %>