<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
    <h1><%= profile.name %></h1>
    <a href="/profile/<%= profile._id %>/session/new">Add Workout</a>
    <a href="/routines/show">View All Workout</a>


</main>

<%- include('../partials/footer') %>