<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
    <h1><%= title %></h1> 
    <ul>    
        <% sessions.forEach(session => { %>
            <%= session.name %>
            <form 
                action="/profile/sessions/<%= session._id %>?_method=Delete"
                class="delete-form"
                method="POST"
                ><button type="submit">X</button>
            </form>
            <form action="/profile/sessions/<%= session._id %>/sets " method="POST">
                <input type="number" name="reps" placeholder="Reps" id="reps-input" required> <input type="number" name="weight" placeholder="Weight" id="weight-input" required>
                <button type="submit">Add Set</button>
            </form>
            <% if (session.sets.length) { %>
                <% session.sets.forEach(set => { %>
                    <li><%= set.reps %> x <%= set.weight %></li>
                    <form 
                action="/profile/sessions/<%= session._id %>/sets/<%= set._id %>?_method=Delete"
                class="delete-form"
                method="POST"
                ><button type="submit">X</button>
            </form>
                <% }) %>
            <% } %>
        <% }) %>
    </ul>
    <form id ="add-workout-form" action="/profile/sessions" method="POST">
        <input type="text" name="name" id="exercise-input" required>
        <button type="submit">Add Workout</button>
    </form>
</main>

<%- include('../partials/footer') %>