<%- include('../../partials/html-head') %>
<%- include('../../partials/nav') %>

<main>
    <h1><%= session.name %> </h1>
    <form action="/profile/sessions/<%= session._id %>?_method=DELETE"
        method="POST"><button>Delete Record</button>
    </form>
    <% session.exercises.forEach(exercise => { %>
        <h3><%= exercise.name %></h3>
        <% exercise.sets.forEach(set => { %>
            <ul>
                <li><%= set.reps %> x <%= set.weight %></li>
            </ul>
        <% }) %> 
    <% })%> 
    <a href="/profile/<%= profile._id %> ">
        <button>Return</button>
    </a>

</main>
<%- include('../../partials/footer') %>