<%- include('../../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css">
<%- include('../../partials/nav') %>
   <div id="top-div">
    <a href="/profile/<%= profile._id %> ">
        <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
          </svg></button>
    </a>
    <h1><%= session.name %> </h1>
    <form action="/profile/sessions/<%= session._id %>?_method=DELETE"
        method="POST"><button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
            <path d="M14 3a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2zM3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5c-1.954 0-3.69-.311-4.785-.793z"/>
          </svg></button>
    </form>
    </div>
    <div id="record">

        <% session.exercises.forEach(exercise => { %>
            <h3><%= exercise.name %></h3>
            <hr>
            <% exercise.sets.forEach(set => { %>
                <ul>
                    <li><%= set.reps %> x <%= set.weight %></li>
                </ul>
            <% }) %>
        <% })%> 
    </div>

<%- include('../../partials/footer') %>